html{
	margin:0px;
	padding:0px;
	width:100%;
}
body{
	width:100%;
	margin:0px;
	padding:0px;
}
#navcontainer{
	position:relative;
	float:left;
	width:100%;
	height:950px;
	display:block;
		background-image:url(work.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	margin:0px;
	padding:0px;
		border-bottom:2px solid black;
}
#container{
	margin:0px;
	padding:0px;
	width:100%;
}
#paracontainer{
	position:relative;
	float:left;
	left:35%;
	margin-left:-325px;
	top:25%;
	width:53.57142857142857%;
	height:200px;
	padding:50px;
}
.paragraph{
	color:white;
	position:relative;
	float:left;
	font: 300 2.0em/1.5em 'Lato';
	padding:25px;
	width:93.33333333333333%;
	height:100px;
}

#nav{
	position:relative;
	float:left;
	width:300px;
	height:950px;
	top:0%;
	left:0%;
	color:black;
	background-color:white;
		-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	border-right:2px solid black;
}

.pro,.school,.home{
	display:block;
		font: 200 1.5em/1.5em 'Muli';
		margin-top:50px;
		cursor:pointer;
			-webkit-transition: .4s ease-in-out;
	-moz-transition: .4s ease-in-out;
	-o-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}
.home:hover{
	border-bottom:1px solid black;
		-webkit-transform: translateY(-.5em);
    -moz-transform: translateY(-.5em);
    -o-transform: translateY(-.5em);
-ms-transform: translateY(-.5em);
	transform:translateY(-.5em);
}
.school:hover{
	border-bottom:1px solid black;
		-webkit-transform: translateY(-.5em);
    -moz-transform: translateY(-.5em);
    -o-transform: translateY(-.5em);
-ms-transform: translateY(-.5em);
	transform:translateY(-.5em);
}
.pro:hover{
	border-bottom:1px solid black;
		-webkit-transform: translateY(-.5em);
    -moz-transform: translateY(-.5em);
    -o-transform: translateY(-.5em);
-ms-transform: translateY(-.5em);
	transform:translateY(-.5em);
}
ul{
	position:relative;
	top:30%;
}
#workimg1{
	border:2px solid grey;
				-webkit-transition: .4s ease-in-out;
	-moz-transition: .4s ease-in-out;
	-o-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}
#workimg1:hover{
		border:3px solid black;
			-webkit-transform: translateY(-.5em);
    -moz-transform: translateY(-.5em);
    -o-transform: translateY(-.5em);
-ms-transform: translateY(-.5em);
	transform:translateY(-.5em);
}
#workimg2{
	border:2px solid grey;
				-webkit-transition: .4s ease-in-out;
	-moz-transition: .4s ease-in-out;
	-o-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}
#workimg2:hover{
		border:3px solid black;
			-webkit-transform: translateY(-.5em);
    -moz-transform: translateY(-.5em);
    -o-transform: translateY(-.5em);
-ms-transform: translateY(-.5em);
	transform:translateY(-.5em);
}
#workimg3{
	border:2px solid grey;
				-webkit-transition: .4s ease-in-out;
	-moz-transition: .4s ease-in-out;
	-o-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}
#workimg3:hover{
		border:3px solid black;
			-webkit-transform: translateY(-.5em);
    -moz-transform: translateY(-.5em);
    -o-transform: translateY(-.5em);
-ms-transform: translateY(-.5em);
	transform:translateY(-.5em);
}
#workimg4{
	border:2px solid grey;
				-webkit-transition: .4s ease-in-out;
	-moz-transition: .4s ease-in-out;
	-o-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}
#workimg4:hover{
		border:3px solid black;
			-webkit-transform: translateY(-.5em);
    -moz-transform: translateY(-.5em);
    -o-transform: translateY(-.5em);
-ms-transform: translateY(-.5em);
	transform:translateY(-.5em);
}
#workimg5{
	border:2px solid grey;
				-webkit-transition: .4s ease-in-out;
	-moz-transition: .4s ease-in-out;
	-o-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}
#workimg5:hover{
		border:3px solid black;
			-webkit-transform: translateY(-.5em);
    -moz-transform: translateY(-.5em);
    -o-transform: translateY(-.5em);
-ms-transform: translateY(-.5em);
	transform:translateY(-.5em);
}
#workimg6{
	border:2px solid grey;
				-webkit-transition: .4s ease-in-out;
	-moz-transition: .4s ease-in-out;
	-o-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}
#workimg6:hover{
		border:3px solid black;
			-webkit-transform: translateY(-.5em);
    -moz-transform: translateY(-.5em);
    -o-transform: translateY(-.5em);
-ms-transform: translateY(-.5em);
	transform:translateY(-.5em);
}
#workimg7{
	border:2px solid grey;
				-webkit-transition: .4s ease-in-out;
	-moz-transition: .4s ease-in-out;
	-o-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}
#workimg7:hover{
		border:3px solid black;
			-webkit-transform: translateY(-.5em);
    -moz-transform: translateY(-.5em);
    -o-transform: translateY(-.5em);
-ms-transform: translateY(-.5em);
	transform:translateY(-.5em);
}
#workimg8{
	border:2px solid grey;
				-webkit-transition: .4s ease-in-out;
	-moz-transition: .4s ease-in-out;
	-o-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}
#workimg8:hover{
		border:3px solid black;
			-webkit-transform: translateY(-.5em);
    -moz-transform: translateY(-.5em);
    -o-transform: translateY(-.5em);
-ms-transform: translateY(-.5em);
	transform:translateY(-.5em);
}
#workimg9{
	border:2px solid grey;
				-webkit-transition: .4s ease-in-out;
	-moz-transition: .4s ease-in-out;
	-o-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}
#workimg9:hover{
		border:3px solid black;
			-webkit-transform: translateY(-.5em);
    -moz-transform: translateY(-.5em);
    -o-transform: translateY(-.5em);
-ms-transform: translateY(-.5em);
	transform:translateY(-.5em);
}
.siteimgs{
	display:block;
	text-align:center;
		background-color:white;
	width:200px;
	float:left;
	height:200px;
	border-radius:5px;
	margin-left:0px;
	padding:0px;
	display:inline-block;
	cursor:pointer;
	position:relative;
	top:50%;
	margin-top:-100px;
		font: 200 2em/1.5em 'Muli';
}
.siteimgs2{
	text-align:center;
		background-color:white;
	width:200px;
	float:left;
	height:200px;
	border-radius:5px;
	margin-left:0px;
	padding:0px;
	display:inline-block;
	cursor:pointer;
	position:relative;
		font: 200 2em/1.5em 'Muli';
		padding:50px;
		margin-bottom:100px;
}
.siteimgs4{
	display:block;
	text-align:center;
		background-color:white;
	width:200px;
	float:left;
	height:200px;
	border-radius:5px;
	margin-left:0px;
	padding:0px;
	display:inline-block;
	cursor:pointer;
	position:relative;
	top:50%;
	margin-top:-100px;
		font: 200 2em/1.5em 'Muli';
}
.siteimgs5{
	display:block;
	text-align:center;
		background-color:white;
	width:200px;
	float:left;
	height:200px;
	border-radius:5px;
	margin-left:0px;
	padding:0px;
	display:inline-block;
	cursor:pointer;
	position:relative;
	top:50%;
	margin-top:-100px;
		font: 200 2em/1.5em 'Muli';
}


#prowork{
	position:relative;
	float:left;
	background-color:white;
	width:100%;
	height:1000px;
	margin:0px;
	text-align:center;
}
#gallery{
	position:relative;
	display:flex;
	justify-content:center;
	width:90%;
padding:0px;
height:900px;
left:4.5%;
flex-flow:wrap;
}
#schoolwork{
	position:relative;
	float:left;
	border-top:5px solid lightgray;
	background-color:white;
	width:100%;
	height:500px;
	margin:0px;
}
#gallery2{
	position:relative;
	display:flex;
	justify-content:center;
	width:90%;
padding:0px;
height:400px;
left:4.5%;
}

.siteimgs4{
	text-align:center;
		background-color:white;
	width:200px;
	float:left;
	height:200px;
	border-radius:5px;
	margin-left:50px;
	padding:10px;
	display:inline-block;
	position:relative;
	top:50%;
	margin-top:-100px;
		font: 200 2em/1.5em 'Muli';
}
.site{
	position:relative;
	left:8px;	
	font: 200 0.8em/1.5em 'Muli';
}
.storyimgs{
	position:relative;
	left:50%;
	margin-left:-125px;
}
.protitle{
			font: 200 2em/1.5em 'Muli';
}
a{
	text-decoration:none;
	color:black;
}
	@media only screen and (max-width: 1350px) {
		.paragraph{
	font: 300 1.8.0em/1.5em 'Lato';
}
		#prowork{
			height:1300px;
		}

		}
	@media only screen and (max-width: 1050px) {
		#navcontainer,#nav{
			width:100%;
		}
		#nav{
				border-right:0px;
		}
		.siteimgs4{
			display:block;
			clear:both;
			margin-left:-102.5px;
			left:50%;
			
		}
		#gallery2,#schoolwork{
			height:800px;
		}
		#gallery2{
	display:block;
}
.storyimgs{
	align-self:none;
}
ul{
	top:15%;
	}
		#gallery{
			height:1100px;
		}
		#prowork{
			height:1850px;
		}
	}
	@media only screen and (max-width: 750px) {
		#gallery{
			height:1600px;
		}
		#prowork{
			height:2850px;
		}
}
@media only screen and (max-width: 690px) {
		#gallery{
			height:1600px;
		}
		#prowork{
			height:3250px;
		}
}
	@media only screen and (max-width: 375px) {
		.siteimgs{
			margin-left:-5%;
		}
		#gallery{
			left:0%;
		}
		}
